@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
@mixin transition-delay($time) {

-webkit-transition: all .5s ease $time;
   -moz-transition: all .5s ease $time;
     -o-transition: all .5s ease $time;
    -ms-transition: all .5s ease $time;
        transition: all .5s ease $time;
    }

@mixin delay($time) {
    -webkit-transition-delay: $time; 
  -moz-transition-delay: $time; 
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin trans($rotate) {
    -webkit-transform: translateZ(0) rotate($rotate);
    -ms-transform: rotate($rotate); /* IE 9 */
    -moz-transform:translateZ(0)  rotate($rotate); /* Chrome, Safari, Opera */
    transform:translateZ(0) rotate($rotate);
}  

@keyframes arw {
  0% {
    right:20px;
    opacity: 1;
   }
  50% {
    right:-20px;
    opacity: 0;
  }
  60% {
    right:auto;
    left:0;
  }
  100% {
    right:auto;
    left:auto;
    position:relative;
    opacity: 1;
  }
}

@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spintwo {
    0%   {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes btn_arw {
    0% {
      right:20px;
    }
    25%   {
       right:-100%;
    }
    50% {
       right:auto;
       left:-100%;
       opacity: 0;
    }
    100% {
      right:auto;
      left:0px;
      opacity: 1;
    }
}

@keyframes wipe {
    0% {  
      -webkit-mask-position: 100% 100%;
    }
    100% {  
      -webkit-mask-position: 0% 0%; 
    }
}
@keyframes bg {
    0% {  
       background-position:-1050px center;
    }
    100% {  
      background-position:0px center
    }
}
@keyframes breath {
 0% { transform:scale(1,1); }
50% { transform:scale(1.2,1.2); }
100% {transform:scale(1,1); }
}
 
