// Page header
.hero {
    background-size:cover;
    position:relative;
    min-height:400px;
    padding-top:100px;
    @include breakpoint(medium) {
        padding-top:0px;
        @include xy-grid;
    }

    &:after {
      content:'';
      position:absolute;
      background-image: url('../images/color.png');
      height: 390px;
      background-size:100%;
      background-position:top;
      left:0;
      right:0;
      display: block;
      bottom:0;
      opacity:.3;
      z-index: 2;
    }
    .wipe {
       opacity: 0;
       display: block;
       -webkit-mask-size: 850px 850px;
        -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(0.00,  rgba(0,0,0,1)),
        color-stop(0.45,  rgba(0,0,0,1)),
        color-stop(0.50,  rgba(0,0,0,.5)),
        color-stop(0.55,  rgba(0,0,0,0)),
        color-stop(0.75,  rgba(0,0,0,0)),
        color-stop(1.00,  rgba(0,0,0,0))
        );
    }
}
.anim-hero {
  overflow: hidden;
  width:750px;
  margin:auto;
    h5 {
      position:relative;
      top:-20px;
      font-size: 45px;
      color:$white;
      @include transition(.3s);
    }

    h5.js-animate {
      top:0;
    }
    .wipe.js-animate {
      opacity: 1;
      animation: 1.5s wipe forwards;
        h1 {
          animation: 2s bg forwards;
          -webkit-animation-delay: .3s;
        }
    }

}


.marketing {
    text-align: center;
    margin: auto;
    z-index: 3;

    .hero-box-wrap {
      text-align: center;
      padding-top:70px;
      @include breakpoint(medium) {
        position:absolute;
        bottom:110px;
        left:0;
        right:0;
      }
    }

    h1 {
      margin-bottom: 50px;
    }
}







.logo-transitions {

  padding: 150px 0;
  position:relative;
  overflow: hidden;

  &:before {
    content:'';
    z-index: -1;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display: block;
    height: 800px;
    width: 100%;
    background-image: url('../images/logos-bkgd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;
    animation: breath 20s linear infinite;
  }
}

.blog-feature {
  height: 240px;
  border:10px solid $black;
  background-size:cover;
  background-position:center;
  position:relative;
  display: block;

  &.tall {
     height: 480px;
  }

  .copy-block {
    padding:40px;
    position:absolute;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
    color:$white;
    bottom:0;
    left:0;
    right:0;
    background-image: url('../images/hero-image-fade.png');
    background-position: bottom;
    background-repeat: no-repeat;
      span {
        display: block;
      }
  }
}


.play-vid,
.anime-wrap {
  height: 30px;
  width: 30px;
  display: block;
  border-radius:100%;
  background:$red;
  display: block;
  margin:auto;
  position:relative;
  text-align: center;

  i {
    font-size:18px;
    line-height: 30px;
    color:$white;
    @include transition(.5s);
  }


  &:before {
    content: '';
    display: block;
    position: absolute;
    left:-10px;
    top:-10px;
    height: 50px;
    width: 50px;
    background: url('../images/ring.png');
    background-size: 100%;
  }


  &.js-animate {
    opacity: 1;
    bottom:0;
      &:before{
        animation: spin 2s linear infinite;
      }
  }
  &:hover {

      &:before {
        animation: spintwo 2s linear infinite;
      }
  }

}

.anime-wrap {
  position:absolute;
  bottom:30px;
  left:30px;
  &:before{
    animation: spin 2s linear infinite;
  }
}

.play-vid {

  height:50px;
  width:50px;
  opacity: 0;
  padding-left:5px;
  @include transition-delay(1.5s);
  @include breakpoint(medium) {
    bottom:-40px;
  }

  i {
    line-height: 50px;
    font-size:22px;
  }

  &:after {
    content:'VIEW REEL';
    line-height: 1;
    color:$white;
    display: block;
    font-size:12px;
    font-family: $font;
    letter-spacing: 2.5px;
    width: 85px;
    font-weight: 500;
    position: absolute;
    left: -15px;
    bottom: -35px;
  }
  &:before {
    width: 70px;
    height: 70px;
    opacity: .4;
  }
}
