.hero-wrap {
	position:relative;
	color:$white;

	&:before {
		content:'';
		position: absolute;
		z-index: 0;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background-color: rgba(37,37,37,0.7);
	}
	&:after {
      content:'';
      position:absolute;
      background-image: url('../images/overlayprint.png');
      height: 367px;
      left:0;
      right:0;
      display: block;
      bottom:0;
      z-index: 1;
    }
	.hero-content {
		position:relative;
		z-index: 2;
	}

	.tag-line {
		color:$red;
	}
	.h1 {
		margin-bottom:40px;
	}

	img {
		width: auto;
		max-height: 140px;
		margin-bottom: 60px;
	}
}
.num {
	font-size: 65px;
}
.para-scene-small {
	margin:auto;
	width:230px;

}

.hero-capability {
	position:relative;
	color:$white;
	h1 {
		font-size: 26px;
	}
	.bg-wrap {
		padding:120px 40px;
		width: 50%;
		float: right;
		display: table;
		height: 100%;
		.bg-opacity {
			padding:80px 60px;
			height: 100%;
			width: 100%;
			display: table;
			position:relative;
		}
		.bg-content {
			max-width: 350px;
			display: table-cell;
			vertical-align: bottom;
			.bg-inside {
				max-width: 370px;
				margin:auto;
			}
		}
		.bg-cat {
			position:absolute;
			color:$white;
			top:80px;
			right:85px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 2.5px;
			display: inline-block;

			&:after {
				content:'';
				height: 2px;
				display: inline-block;
				width: 40px;
				background:$white;
				top: -4px;
    			position: relative;
			}
		}
		h5 {
			color:$white;
		}
	}
}



.grid__item {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
}

.grid__item--bg {
	background-color: var(--item-bg);

}


.grid__item-img {
	display: block;
	height: 100%;
	width: 100%;
}

.grid__item-img canvas {
	height: 100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.grid__item-img img {
	height: 100%;
	display: block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.grid__item-img img:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.grid__item:hover .grid__item-img img:nth-child(2) {
	opacity: 1;
}

.js .grid__item-img img {
	display: none;
}

/* Themes */

.theme-2 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}
