
.footer {
   background: $medium-gray;
   text-align: center;
   position: relative;

  a {
    color:$white;
    font-weight: 500;
    letter-spacing: 4px;
    display: inline-block;
  }
  .anime-icon {
		position:absolute;
		left:0;
		right:0;
		margin:auto;
		width: 75px;
    	top: 30px;

  	.Logo-Mark {
  		fill: #D0D0D0;
  		width: 100%;
  	}
  }

  .social-icons {
  	a {
  		font-size:22px;
  		margin:0 10px;
  	}
  }
  .copyright {
  	color:$white;
  	margin-top:30px;
  	font-size: 12px;
  	font-weight: 500;
  	letter-spacing: 2.5px;
  }
}
.footer-container {
  @include xy-grid-container;
   padding: rem-calc(60) 0;
}
