
.site-header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  height: 66px;
  @include transition(.5s);
  &:after {
    content:'';
    right:0;
    top:-70px;
    display: block;
    height: 66px;
    position:fixed;
    width: 100%;
    @include transition(.5s);
  }
   @include breakpoint(medium down) {
    .toparea {
      display: none;
    }
  }
  &.scrolled:after{
    background:$dark-gray;
    top:0;
    z-index: -1;

  }
}

.logo {
  position:absolute;
  left:0;
  top:0;
  z-index: 10;
  display: block;
  width: 84px;
  padding-left: 40px;
  padding-top: 3px;
    img {
    width:100%;
    }
  }



.site-navigation {
  padding-right:100px;
  padding-top:23px;
  float:right;
  .menu-right-top-bar-container {
    display: inline-block;
  }
  .mobile {
    opacity: 0;
    @include transition-delay(.5s);
  }
  .menu-hamburger-container {
    position:absolute;
    background:$black;
    top:-70px;
    width: 100%;
    right:0;
    text-align: right;
    padding:20px 100px 0 0;
    height: 66px;
    @include transition(.5s);

    &.js-slideover {
      top:0;
      .mobile {
        opacity: 1;
      }
    }
  }

  ul {
      list-style: none;
      margin: 0;

    li {
        display: inline-block;

      a {
          color:$white;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 4px;
          padding:0 20px;
        }
    }
  }
  .hamburger {
    position:fixed;
    top:23px;
    right:60px;
    z-index: 10;
  }
}
