.button,
.btn,
.video-fancy {
	letter-spacing:4px;
	font-size:13px;
	padding:15px 35px;
	text-transform:uppercase;
	color:$white;
	display:inline-block;
	position:relative;
	z-index:2;
	@include transition(.5s);
	text-decoration:none !important;


	&:before {
		content:'';
		background:$dark-gray;
		height: 0;
		display: block;
		left:0;
		bottom:0;
		right: 0;
		position:absolute;
		z-index: -1;
		@include transition(.5s);
	}
	&:after {
		content:'';
		background:$dark-gray;
		height: 100%;
		display: block;
		left:0;
		bottom:0;
		top:0;
		right: 0;
		position:absolute;
		z-index: -1;
		@include transition(.5s);
	}
	&:hover {
		color:$black;
		background:transparent;
		&:before {
			height: 100%;
		}
		&:after {
			height: 0;
			top:0;
		}
	}
	&:focus {
		color:$red;
	}

	&.black-btn {
		color:$white;
		&:before {
			background: $red;
			border:2px solid $white;

		}
		&:after {
			background:$black;
			border:2px solid $white;

		}
		&:hover {
			color:$white;
		}
	}
	&.gray-btn {
		color:$white;
		&:before {
			background: $red;
		}
		&:after {
			background:$medium-gray;
		}
		&:hover {
			color:$white;
		}
	}
	&.red-btn {
		color:$white;
		&:before {
			background: $black;
		}
		&:after {
			background:$red;
		}
		&:hover {
			color:$white;
		}
		&:focus {
			color:$white;
		}
	}
	&.white-btn {
		color:$red;
		&:before {
			background: $red;
		}
		&:after {
			background:$white;
		}
		&:hover {
			color:$white;
		}
	}
}

.fancyvid {
	i {
		padding-right:10px;
		position:relative;
		top:2px;
	}
}
